@model Project.MVC.ViewModels.MakeIndexViewModel
    

@{
    ViewData["Title"] = "Vehicle Makes";
}

<h2>Vehicle Makes</h2>

<form asp-controller="Make" asp-action="Index" method="get">
    <input type="text" name="searchingString" value="@Model.CurrentFilter" />
    <button type="submit">Search</button>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> @Html.ActionLink("Name", "Index", 
                new{
                    sortOrder = ViewData["NameSortParm"],
                    currentFilter = Model.CurrentFilter,
                    pageNumber = Model.PageNumber
                })
            </th>
            <th> @Html.ActionLink("Abrv", "Index",
                new
                {
                    sortOrder = ViewData["AbrvSortParm"],
                    currentFilter = Model.CurrentFilter,
                    pageNumber = Model.PageNumber
                })
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Makes)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @Model.PageNumber of @Model.TotalPages
</div>

<div>
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("Previous", "Index", new
        {
            pageNumber=Model.PageNumber - 1,
            sortOrder = Model.CurrentSort,
            currentFilter = Model.CurrentFilter
         })
        }
    

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next", "Index", new
        {
            pageNumber = Model.PageNumber+1,
            sortOrder = Model.CurrentSort,
            currentFilter = Model.CurrentFilter
        })
    }

</div>


